spring:
  application:
    name: Action-Service

  datasource:
    url: jdbc:postgresql://localhost:5432/action_service_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081
