spring:
  application:
    name: Action-Service

  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
      bindings:
        actionEvents-out-0:
          destination: action-events    #Kafka topic ad?
          content-type: application/json


  datasource:
    url: jdbc:postgresql://localhost:5434/action_service_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081
